@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom right, rgb(248, 245, 233), rgb(231, 244, 248));

}


.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #0e2238;
    display: flex;
    flex-direction: column;
    
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}
.gradient-custom {
    background: #c7f3be; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right bottom, #c7f3be, #6ebf71); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right bottom, #c7f3be, #6ebf71); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: inline-block; /* Ensures the container fits the content */
    padding: 10px; /* Adjust padding as needed */
    border-radius: 50%; /* Makes the container round */
}

/* Card styles */
.card {
    margin-bottom: 20px; 
}

.card-body {
    height: 40%; 
    overflow: auto; 
    width: 70%; 
}

.card:hover .card-text {
    /* text-decoration: underline; */
}



/* Card backgrounds */
.card-bg1 {
    background-image: url('https://www.gstatic.com/classroom/themes/Honors.jpg');
    background-size: 175%;
    background-repeat: no-repeat;
    background-position: top center;
    height: 190px; 
    width: 85%;
}

.card-bg2 {
    background-image: url('https://www.gstatic.com/classroom/themes/img_bookclub.jpg');
    background-size: 175%;
    background-repeat: no-repeat;
    background-position: top center;
    height: 190px; 
    width: 85%;
}

.card-bg3 {
    background-image: url('https://www.gstatic.com/classroom/themes/img_breakfast.jpg');
    background-size: 175%;
    background-repeat: no-repeat;
    background-position: top center;
    height: 190px; 
    width: 85%; 
}

.card-bg4 {
    background-image: url('https://www.gstatic.com/classroom/themes/img_backtoschool.jpg');
    background-size: 175%;
    background-repeat: no-repeat;
    background-position: top center;
    height: 190px; 
    width: 85%;
}

.card-bg5 {
    background-image: url('https://www.gstatic.com/classroom/themes/img_code.jpg');
    background-size: 175%;
    background-repeat: no-repeat;
    background-position: top center;
    height: 190px; 
    width: 85%; 
}

.card-bg6 {
    background-image: url('https://www.gstatic.com/classroom/themes/img_graduation.jpg');
    background-size: 175%;
    background-repeat: no-repeat;
    background-position: top center;
    height: 190px; 
    width: 85%;
}

.card-bg7 {
    background-image: url('https://www.gstatic.com/classroom/themes/img_reachout.jpg');
    background-size: 175%;
    background-repeat: no-repeat;
    background-position: top center;
    height: 190px; 
    width: 85%; 
}

.card-bg8 {
    background-image: url('https://www.gstatic.com/classroom/themes/img_read.jpg');
    background-size: 175%;
    background-repeat: no-repeat;
    background-position: top center;
    height: 190px; 
    width: 85%;
}
.wrapper {
    display: flex;
    height: 100vh;
    overflow-y: auto;
    width: 100%; 
}
.container {
    margin-top: .5%;
    margin-bottom: .5%;
    overflow-y: auto;
    border-radius: 10px; 
    background-color: rgb(252, 249, 249); /* Light pastel green */
}



